.nav__top {
    background-color: #22254b;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.nav__top header {
    width: 50px;
}

.nav__group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__group ul {
    list-style: none;
    margin: 0;
    
    display: flex;
    gap: 8px;
}

.nav__group li {
    text-transform: uppercase;
    cursor: pointer;
}

.nav__group li .page {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}